<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:pattern {"slug":"zeever/zeever-gutenverse-hero-page"} /-->

<!-- wp:gutenverse/section {"width":{"Desktop":"1170"},"elementId":"guten-zeTi7z","background":{"type":"default","color":{"type":"variable","id":"gv-color-black"}},"padding":{"Desktop":{"unit":"px","dimension":{"top":"100","bottom":"100"}},"Tablet":{"unit":"px","dimension":{"right":"20","left":"20","top":"80","bottom":"80"}},"Mobile":{"unit":"px","dimension":{"top":"60","bottom":"60"}}}} -->
<!-- wp:gutenverse/column {"width":{"Desktop":100},"elementId":"guten-pIRn7y"} -->
<!-- wp:post-content {"tagName":"main","style":{"elements":{"link":{"color":{"text":"var:preset|color|gv-color-dark-text-primary"}}}},"textColor":"gv-color-dark-text-primary"} /-->
<!-- /wp:gutenverse/column -->
<!-- /wp:gutenverse/section -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->