<!-- wp:pattern {"slug":"zeever/zeever-page-title"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"100px","bottom":"100px","left":"20px","right":"20px"},"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"gv-color-dark-background-primary","layout":{"type":"constrained","contentSize":"1170px"}} -->
<div class="wp-block-group has-gv-color-dark-background-primary-background-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:100px;padding-right:20px;padding-bottom:100px;padding-left:20px"><!-- wp:post-content {"tagName":"main","style":{"elements":{"link":{"color":{"text":"var:preset|color|gv-color-dark-text-primary"}}}},"textColor":"gv-color-dark-text-primary","layout":{"type":"default"}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->